# Ignore virtual environment and git folder
venv
.git

# Ignore datasets
data
test_inference
classifier/models

# Ignore notebooks
**/*.ipynb

#Ignore scripts
classifier/dir_renaming.py
classifier/train.py